{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-title">
    <h2>Hello :)</h2>
</div>

<div id="home-content">

    <p>My name is Jamie, and I make websites, apps, games, comics, and music.</p>

    <p>I often use my pseudonym Dax Ripley.</p>

    <p>Use the links above to navigate this website, or the links below to find me on the web.</p>

    <ul class="social-links">
        <li><a href="mailto:jamie@unrau.me">&#128231;</a></li>
        <li><a href="https://twitter.com/dax_ripley"><img src="/static/images/social-twitter.png" /></a></li>
        <li><a href="https://www.youtube.com/channel/UCwbriYbNxp1cD4rvgHdBJCw"><img src="/static/images/social-youtube.png" /></a></li>
        <li><a href="https://github.com/unrau/"><img src="/static/images/social-github.png" /></a></li>
    </ul>

</div> <!-- #home-content -->

{% endblock %}
