<!DOCTYPE html>

{% load static %}

<html>
<head>
<title>Knot of this World</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/knot.css' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon-knot/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-knot/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-knot/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon-knot/site.webmanifest">
  <meta property="og:title" content="Knot of this World" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.dax.rip/knot/" />
  <meta property="og:image" content="https://www.dax.rip/static/images/og-image-knot.png" />
  <meta property="og:description" content="A web comic by Dax Ripley." />
</head>
<body>
<div id="knot">

  <a href="{% url 'knot' %}">
    <img src="/static/images/comic-kotw-logo.png" class="comic-logo" id="knot-logo" />
  </a>
  <h3>A supernatural slice of life by <a href="https://twitter.com/dax_ripley">Dax Ripley</a></h3>
  <h5>New comics as few and far between as my brain cells.</h5>

{% block content %}{% endblock content %}

</div> <!-- #knot -->
</body>
</html>
