{% extends "knot_base.html" %}
{% load static %}
{% block content %}

{% for post in knot_list %}

<ul class="comic-nav">
    <li><a href="/knot/{{ post.second_latest }}">&lsaquo; PREV</a></li>
    <li><a href="/knot/0/">&laquo; FIRST</a></li>
</ul>

<div class="knot-post">
    <div class="post-title"><h4>Page {{ post.page_num }} - &quot;{{ post.title_text }}&quot;</h4></div>
    <div class="post-comic"><a href="{% url 'knot_detail' post.page_num  %}" class="knot-post-title-link"><img src="{{ post.comic_image.url }}" class="comic" /></a></div>
    <div class="post-content">{{ post.content_text | safe }}</div>
    <div class="post-date">- Dax Ripley - {{ post.pub_date.date }}</p>
</div>

<ul class="comic-nav">
    <li><a href="/knot/{{ post.second_latest }}">PREV</a></li>
    <li><a href="/knot/0/">FIRST</a></li>
</ul>

{% endfor %}

{% endblock %}
