{% extends "knot_base.html" %}
{% load static %}
{% block content %}

<div class="knot-post">
    <div class="post-title">
        <h3>{{ knotentry.title_text }}</h3>
        <p class="post-date">{{ knotentry.pub_date.date }}</p>
    </div>
    <div class="post-comic"><img src="{{ knotentry.comic_image.url }}" /></div>
    <div class="post-content">{{ knotentry.content_text | safe }}</div>
</div>

<ul>
    <li><a href="/knot/{{ knotentry.previous }}">PREV</a></li>
    <li><a href="/knot/0/">FIRST</a></li>
    <li><a href="/knot/{{ knotentry.latest }}">LATEST</a></li>
    <li><a href="/knot/{{ knotentry.next }}">NEXT</a></li>
</ul>

{% endblock %}
