<!DOCTYPE html>

{% load static %}

<html>
<head>
<title>Jamie Unrau</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/raygun.css' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <meta property="og:title" content="Jamie Unrau" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.dax.rip/" />
  <meta property="og:image" content="https://www.dax.rip/static/images/og-image-dax.png" />
  <meta property="og:description" content="The website of Jamie Unrau, aka Dax Ripley, and home of the web comic Knot of this World." />
</head>
<body>
<div id="mainbody">

<div id="header" class="content-wrapper">
  <div id="title">
    <a href="{% url 'index' %}">
      <img src="{% static 'images/header-title.png' %}" />
    </a>
  </div> <!-- #title -->
  <div id="subtitle">
    <img id="pronouns" src="{% static 'images/header-pronouns.png' %}" />
    <img id="jamie-pic" src="{% static 'images/jamie.png' %}" />
    <img id="aka" src="{% static 'images/header-aka.png' %}" />
  </div> <!-- #subtitle -->
</div> <!-- #header -->

<div id="navi">
  <div class="content-wrapper">
    <div class="navi-links">
      <a href="{% url 'index' %}" class="navi-link" id="navi-link-home"></a>
      <a href="{% url 'apps' %}" class="navi-link" id="navi-link-apps"></a>
      <a href="{% url 'comics' %}" class="navi-link" id="navi-link-comics"></a>
      <a href="{% url 'music' %}" class="navi-link" id="navi-link-music"></a>
      <a href="{% url 'blog' %}" class="navi-link" id="navi-link-blog"></a>
      <!--<a href="{% url 'contact' %}" class="navi-link" id="navi-link-contact"></a>-->
    </div> <!-- #navi-links -->
    <div id="navi-sep"></div>
  </div> <!-- .content-wrapper -->
</div> <!-- #navi -->

<div class="content-wrapper">
  <div id="content">
    {% block content %}{% endblock content %}
  </div>
</div> <!-- .content -->

<div id="footer">
  <div class="content-wrapper">
    <div id="footer-sep"></div>
    <div class="navi-links">
      <a href="{% url 'index' %}" class="navi-link" id="navi-link-home"></a>
      <a href="{% url 'apps' %}" class="navi-link" id="navi-link-apps"></a>
      <a href="{% url 'comics' %}" class="navi-link" id="navi-link-comics"></a>
      <a href="{% url 'music' %}" class="navi-link" id="navi-link-music"></a>
      <a href="{% url 'blog' %" class="navi-link" id="navi-link-blog"></a>
      <!--<a href="{% url 'contact' %}" class="navi-link" id="navi-link-contact"></a>-->
    </div> <!-- #navi-links -->
    <p>Copyright &copy; {% now "Y" %} Jamie Unrau. All Rights Reserved.</p>
    <div id="footer-sep-bottom"></div>
  </div>
</div>

<div class="pre-load">
  <!-- pre-load mouseover images in this hidden div -->
  <img src="{% static 'images/nav-home-hover.png' %}" />
  <img src="{% static 'images/nav-apps-hover.png' %}" />
  <img src="{% static 'images/nav-comics-hover.png' %}" />
  <img src="{% static 'images/nav-music-hover.png' %}" />
  <img src="{% static 'images/nav-blog-hover.png' %}" />
  <img src="{% static 'images/nav-contact-hover.png' %}" />
</div>

</div> <!-- #mainbody -->
</body>
</html>
