{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-title">
    <h2>MUSIC</h2>
    <p>I write and perform original songs and parodies, and sometimes perform at Open Mics.</p>
    <b>Upcoming Live Performances:</b><br />
    None, ya hoser, there's a plague on
</div>

{{ template_name }}

{% for post in music_list %}
<div class="music-post">
    <a href="{% url 'music_detail' post.slug  %}" class="music-post-title-link">
        <div class="post-title">
            <h3>{{ post.title_text }}</h3>
            <p class="post-date">{{ post.pub_date.date }} </p>
        </div>
    </a>
    <div class="post-content">{{ post.content_text | safe }}</div>
</div>
{% endfor %}

{% if is_paginated %}
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; NEWER </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}"> OLDER &raquo;</a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}
