{% extends "base.html" %}
{% load static %}
{% block content %}

<center><h2>Music</h2></center>

{{ template_name }}

{% for post in music_list %}
<div>
    <a href="{% url 'music_detail' post.slug  %}">{{ post.title_text }}</a>
    <p>{{ post.pub_date }} </p>
    <p>{{ post.content_text | safe }}</p>
</div>
{% endfor %}

{% if is_paginated %}
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}"> NEXT &raquo;</a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}
